In [1]:
import pandas as pd

In [19]:
df1 = pd.read_csv('/home/subin/다운로드/팩터 논문/¿ÀÇÇ½ºÅÚ ¹× »ó¾÷¿ë°Ç¹° ±âÁØ½Ã°¡_1.csv', encoding='cp949')
df2 = pd.read_csv('/home/subin/다운로드/팩터 논문/¿ÀÇÇ½ºÅÚ ¹× »ó¾÷¿ë°Ç¹° ±âÁØ½Ã°¡_2.csv', encoding='cp949')
df3 = pd.read_csv('/home/subin/다운로드/팩터 논문/¿ÀÇÇ½ºÅÚ ¹× »ó¾÷¿ë°Ç¹° ±âÁØ½Ã°¡_3.csv', encoding='cp949')
df = pd.concat([df1,df2,df3])
df.rename(columns={'법정동코드':'시군구법정동코드'}, inplace=True)
df['전체면적'] = df['전용면적']+df['공유면적']
df['전용률(%)'] = df['전용면적'] / df['전체면적'] * 100
df['전용률(%)'] = df['전용률(%)'].round(0)
df

<ipython-input-19-7e40a439b958>:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('/home/subin/다운로드/팩터 논문/¿ÀÇÇ½ºÅÚ ¹× »ó¾÷¿ë°Ç¹° ±âÁØ½Ã°¡_2.csv', encoding='cp949')

,상가건물번호,상가종류코드,고시일자,시군구법정동코드,특수지코드,번지,호,상가건물블록주소,상가건물동주소,건물층구분코드,상가건물층주소,상가건물호주소,고시가격,전용면적,공유면적,전체면적,전용률(%)
0,50,상가,2023-01-01,1111010700,일반지번,80,0,적선현대빌딩,1(단일),지상층,1,1,5986000,639.47,357.740,997.210,64.0
1,50,상가,2023-01-01,1111010700,일반지번,80,0,적선현대빌딩,1(단일),지상층,1,2,6640000,198.41,111.000,309.410,64.0
2,50,상가,2023-01-01,1111010700,일반지번,80,0,적선현대빌딩,1(단일),지상층,1,3,6108000,281.50,157.480,438.980,64.0
3,50,상가,2023-01-01,1111010700,일반지번,80,0,적선현대빌딩,1(단일),지상층,10,1,2602000,235.35,106.010,341.360,69.0
4,50,상가,2023-01-01,1111010700,일반지번,80,0,적선현대빌딩,1(단일),지상층,10,10,2602000,231.33,104.200,335.530,69.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64915,77771,오피스텔,2023-01-01,5013032021,일반지번,507,1,썬비치빌에이동,A동,지상층,7,701,1932000,83.72,20.406,104.126,80.0
64916,77771,오피스텔,2023-01-01,5013032021,일반지번,507,1,썬비치빌에이동,A동,지상층,7,702,1932000,83.72,20.406,104.126,80.0
64917,78192,오피스텔,2023-01-01,5013032021,일반지번,954,3,하르빌표선비동,비동,지상층,2,201,1564000,83.58,21.040,104.620,80.0
64918,78192,오피스텔,2023-01-01,5013032021,일반지번,954,3,하르빌표선비동,비동,지상층,3,301,1596000,83.58,21.040,104.620,80.0
64919,78192,오피스텔,2023-01-01,5013032021,일반지번,954,3,하르빌표선비동,비동,지상층,3,302,1548000,83.58,21.040,104.620,80.0

In [3]:
df['상가종류코드'].value_counts()
# 오피스텔은 일단 분리하기로.
# 전용면적+공유면적 vs. 전용면적/공유면적 비율
# 고시가격(=1제곱미터당 기준시가)

오피스텔    1154407
상가      1007661
Name: 상가종류코드, dtype: int64

In [20]:
commerce = df[df['상가종류코드']=='상가']
commerce
# 위치파악 -> 법정동코드 변환

,상가건물번호,상가종류코드,고시일자,시군구법정동코드,특수지코드,번지,호,상가건물블록주소,상가건물동주소,건물층구분코드,상가건물층주소,상가건물호주소,고시가격,전용면적,공유면적,전체면적,전용률(%)
0,50,상가,2023-01-01,1111010700,일반지번,80,0,적선현대빌딩,1(단일),지상층,1,1,5986000,639.470,357.740,997.210,64.0
1,50,상가,2023-01-01,1111010700,일반지번,80,0,적선현대빌딩,1(단일),지상층,1,2,6640000,198.410,111.000,309.410,64.0
2,50,상가,2023-01-01,1111010700,일반지번,80,0,적선현대빌딩,1(단일),지상층,1,3,6108000,281.500,157.480,438.980,64.0
3,50,상가,2023-01-01,1111010700,일반지번,80,0,적선현대빌딩,1(단일),지상층,10,1,2602000,235.350,106.010,341.360,69.0
4,50,상가,2023-01-01,1111010700,일반지번,80,0,적선현대빌딩,1(단일),지상층,10,10,2602000,231.330,104.200,335.530,69.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976635,44886,상가,2023-01-01,4183040024,일반지번,785,4,골든타워A동,A동,지상층,1,101,4452000,59.360,0.676,60.036,99.0
976679,56655,상가,2023-01-01,4183040024,일반지번,792,4,개성하이빌1동,1동,지상층,1,101호,3024000,69.930,12.350,82.280,85.0
976696,60566,상가,2023-01-01,4183040024,일반지번,325,24,밀레니엄,1(단일),지상층,1,101,2142000,45.450,18.800,64.250,71.0
976697,60566,상가,2023-01-01,4183040024,일반지번,325,24,밀레니엄,1(단일),지상층,1,102,1820000,66.150,27.363,93.513,71.0
976698,60566,상가,2023-01-01,4183040024,일반지번,325,24,밀레니엄,1(단일),지상층,1,103,1606000,103.915,42.985,146.900,71.0

In [21]:
commerce.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1007661 entries, 0 to 976698
Data columns (total 17 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   상가건물번호    1007661 non-null  int64
 1   상가종류코드    1007661 non-null  object
 2   고시일자      1007661 non-null  object
 3   시군구법정동코드  1007661 non-null  int64
 4   특수지코드     1007661 non-null  object
 5   번지        1007661 non-null  object
 6   호         1007661 non-null  int64
 7   상가건물블록주소  1007661 non-null  object
 8   상가건물동주소   1007661 non-null  object
 9   건물층구분코드   1007661 non-null  object
 10  상가건물층주소   1007661 non-null  int64
 11  상가건물호주소   1007650 non-null  object
 12  고시가격      1007661 non-null  int64
 13  전용면적      1007661 non-null  float64
 14  공유면적      1007661 non-null  float64
 15  전체면적      1007661 non-null  float64
 16  전용률(%)    1007661 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 138.4+ MB

In [24]:
code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2355 entries, 0 to 2354
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구코드     2355 non-null   int64
 1   법정동코드     2355 non-null   int64
 2   행정동코드     2355 non-null   int64
 3   시도명       2355 non-null   object
 4   시군구명      2354 non-null   object
 5   법정동명      2355 non-null   object
 6   행정동명      1243 non-null   object
 7   적용시작일     2355 non-null   int64
 8   적용만료일     2355 non-null   int64
 9   시군구법정동코드  2355 non-null   int64
dtypes: int64(6), object(4)
memory usage: 184.1+ KB

In [16]:
commerce.groupby('상가건물블록주소').mean().reset_index()

<ipython-input-16-203caaa59779>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  commerce.groupby('상가건물블록주소').mean().reset_index()

,상가건물블록주소,상가건물번호,법정동코드,호,상가건물층주소,고시가격,전용면적,공유면적,전체면적,전용률(%)
0,(101-4),44053.000000,2.917010e+09,4.000000,1.000000,1.417500e+06,111.898500,30.565000,142.463500,79.000000
1,(1014-1),25421.000000,2.820010e+09,1.000000,3.818182,1.059364e+06,643.742727,170.839091,814.581818,79.000000
2,(1111-5),44705.000000,4.146312e+09,5.000000,1.000000,3.360000e+06,72.425000,26.130000,98.555000,73.000000
3,(1571-0),1967.000000,2.817710e+09,0.000000,1.000000,1.347400e+06,64.793000,37.835000,102.628000,62.200000
4,(169-10),22112.000000,1.126010e+09,10.000000,1.347826,2.582174e+06,58.976087,47.308261,106.284348,57.217391
...,...,...,...,...,...,...,...,...,...,...
17557,힘멜하임,36795.000000,1.156013e+09,3.000000,1.000000,3.304250e+06,29.722500,7.202500,36.925000,80.750000
17558,힘찬마디병원,61717.000000,4.122010e+09,0.000000,1.545455,3.043000e+06,273.324545,57.463727,330.788273,83.000000
17559,힘찬프라자,34835.702381,3.837551e+09,13.738095,2.839286,3.111857e+06,91.885774,57.056137,148.941911,66.291667
17560,힘찬프라자(원당지구),25488.000000,2.826011e+09,6.000000,2.434783,2.328652e+06,87.505217,67.313391,154.818609,55.826087
17561,힘찬헤리움(505-2),33548.000000,2.823710e+09,2.000000,1.636364,3.148364e+06,42.680909,40.190909,82.871818,51.272727

In [6]:
df['평당 기준시가'].describe()

count    2.162068e+06
mean     3.329745e+04
std      3.915245e+05
min      6.000000e+00
25%      7.960000e+03
50%      1.638000e+04
75%      3.100300e+04
max      4.406667e+08
Name: 평당 기준시가, dtype: float64

In [40]:
code_korea = pd.read_csv('/home/subin/다운로드/팩터 논문/Z_LURIS_LSCT_LAWDCD.csv', encoding='cp949')
code_korea.rename(columns={'LAWD_CD':'시군구법정동코드'}, inplace=True)
code_korea = code_korea[['시군구법정동코드', 'SIDO_NM', 'SGG_NM', 'UMD_NM']].drop_duplicates()
code_korea

         시군구법정동코드 SIDO_NM   SGG_NM UMD_NM
0      4790043030    경상북도      예천군    은풍면
1      4275038000     강원도      영월군  무릉도원면
2      4812313400    경상남도  창원시 성산구    용지동
3      4122012800     경기도      평택시    고덕동
4      2671025927   부산광역시      기장군    일광읍
...           ...     ...      ...    ...
24027  4480025628    충청남도      홍성군    홍북읍
24028  4136037022     경기도     남양주시   퇴계원면
24029  4679041529    전라남도      화순군    사평면
24030  4729025626    경상북도      경산시    압량읍
24031  4772038027    경상북도      군위군  삼국유사면

[24032 rows x 4 columns]

In [36]:
code_korea.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24032 entries, 0 to 24031
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   LAWD_CD         24032 non-null  int64
 1   SIDO_NM         24032 non-null  object
 2   SGG_NM          24014 non-null  object
 3   UMD_NM          23729 non-null  object
 4   RI_NM           17877 non-null  object
 5   CRE_DT          24031 non-null  float64
 6   DEL_DT          3487 non-null   float64
 7   OLD_LAWDCD      763 non-null    float64
 8   FRST_REGIST_DT  24032 non-null  int64
 9   LAST_UPDT_DT    24032 non-null  int64
dtypes: float64(3), int64(3), object(4)
memory usage: 1.8+ MB

In [44]:
commerce_address = pd.merge(commerce, code_korea, on='시군구법정동코드', how='left')
commerce_address

,상가건물번호,상가종류코드,고시일자,시군구법정동코드,특수지코드,번지,호,상가건물블록주소,상가건물동주소,건물층구분코드,상가건물층주소,상가건물호주소,고시가격,전용면적,공유면적,전체면적,전용률(%),SIDO_NM,SGG_NM,UMD_NM
0,50,상가,2023-01-01,1111010700,일반지번,80,0,적선현대빌딩,1(단일),지상층,1,1,5986000,639.470,357.740,997.210,64.0,서울특별시,종로구,적선동
1,50,상가,2023-01-01,1111010700,일반지번,80,0,적선현대빌딩,1(단일),지상층,1,2,6640000,198.410,111.000,309.410,64.0,서울특별시,종로구,적선동
2,50,상가,2023-01-01,1111010700,일반지번,80,0,적선현대빌딩,1(단일),지상층,1,3,6108000,281.500,157.480,438.980,64.0,서울특별시,종로구,적선동
3,50,상가,2023-01-01,1111010700,일반지번,80,0,적선현대빌딩,1(단일),지상층,10,1,2602000,235.350,106.010,341.360,69.0,서울특별시,종로구,적선동
4,50,상가,2023-01-01,1111010700,일반지번,80,0,적선현대빌딩,1(단일),지상층,10,10,2602000,231.330,104.200,335.530,69.0,서울특별시,종로구,적선동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1007656,44886,상가,2023-01-01,4183040024,일반지번,785,4,골든타워A동,A동,지상층,1,101,4452000,59.360,0.676,60.036,99.0,경기도,양평군,용문면
1007657,56655,상가,2023-01-01,4183040024,일반지번,792,4,개성하이빌1동,1동,지상층,1,101호,3024000,69.930,12.350,82.280,85.0,경기도,양평군,용문면
1007658,60566,상가,2023-01-01,4183040024,일반지번,325,24,밀레니엄,1(단일),지상층,1,101,2142000,45.450,18.800,64.250,71.0,경기도,양평군,용문면
1007659,60566,상가,2023-01-01,4183040024,일반지번,325,24,밀레니엄,1(단일),지상층,1,102,1820000,66.150,27.363,93.513,71.0,경기도,양평군,용문면
1007660,60566,상가,2023-01-01,4183040024,일반지번,325,24,밀레니엄,1(단일),지상층,1,103,1606000,103.915,42.985,146.900,71.0,경기도,양평군,용문면

In [45]:
commerce_address.isnull().sum()

상가건물번호       0
상가종류코드       0
고시일자         0
시군구법정동코드     0
특수지코드        0
번지           0
호            0
상가건물블록주소     0
상가건물동주소      0
건물층구분코드      0
상가건물층주소      0
상가건물호주소     11
고시가격         0
전용면적         0
공유면적         0
전체면적         0
전용률(%)       0
SIDO_NM      0
SGG_NM       0
UMD_NM       0
dtype: int64